*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}




.pares-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D9E2EC;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #2b64a5;
    padding: 40px 60px;

}

.pares h2{
    font-size: 3em;
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    color: #2b64a5;
    background-color: #ffffff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    

}

.reset:focus{
    color: #ffffff;
    background-color: #2b64a5;
}

.game{
    width: 450px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    
}
